{% extends 'english.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block orta_alan %}  
<div class="col-12 col-lg-10  " id="k">

  <div class="row">

    <div class="col-12 mb-4 "><img class="img-fluid" src="{{ev.foto.url}}" alt=""></div>
    <div class="d-none d-lg-block col-3 ps-2"></div>
    
    <div class="col-12 col-lg-9 container  mb-2 "><h3 class="border-bottom pb-1">{{ev.baslik_en}}</h3> </div>
  
  
  
    {% for entry in ev.içerik.all %}
        <div class="col-12 col-lg-3 pt-lg-2  mt-0"><img src="{{entry.foto.url}}" class="img-fluid  d-block w-100" alt="..." /></div>
        <div class="col-12 col-lg-9 mt-2 pe-0 mt-lg-0  ">{{entry.metin_en|linebreaks|urlize}}</div>
    {% endfor %}



    <div class="col-4"></div>
    <div class="col-12 col-lg-5 mt-5 mb-5">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
           



              <div class="carousel-item active">
                <img src="{{ ev.slides.all.0.foto.url }}" class="img-fluid  d-block w-100" alt="..." />
              </div>

              {% for entry in ev.slides.all %}
              {% if not forloop.first %}
              <div class="carousel-item">
                <img src="{{entry.foto.url}}" class="img-fluid  d-block w-100" alt="..." />
              </div>
              {% endif %}
              {% endfor %}            









          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        
      </div>





</div>
</div>
</div>

{% endblock orta_alan %}


{% block yanmenü %}

  <a class="d-flex yükseklik3a pt-0 " href="/en/aboutus">ABOUT US</a>
  <a class="d-flex yükseklik3a " href="/en/program">PROGRAM</a>
  <a class="d-flex yükseklik3a  "  href="/en/projects">PROJECTS</a> 
  <a class="d-flex yükseklik3a  " href="/en/publishing">PUBLISHING</a>
  <a class="d-flex yükseklik3a  fw-bold text-dark " href="/en/home">HOUSE</a>
  <a class="d-flex yükseklik3a" href="/en/archive">ARCHIVE</a>
{% endblock yanmenü %}