{% extends 'english.html' %}
{% load static %}
{% block title %}Logos{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10  ">



    <div class="container  mb-4 border-bottom text-center"><h3>Collaborations</h3></div>
    <div class="container mb-5   text-center">
      <div class="row  ps-lg-5 pe-lg-5 ">
        {% for logo in logos %}

        <div class="image-container col-4 col-lg-2  mb-2 ">
          <a href="{{logo.redirect_url}}">
            <img class="img-fluid image-1 " src="{{ logo.logo.url }}" alt="Image 1">
            <img class=" img-fluid image-2 " src="{{ logo.colored_image.url }}" alt="Image 2" style="display: none;">
          </a> 
      </div>
        {% endfor %}
        
  
    
      </div>
    </div>







</div>
{% endblock orta_alan %}





{% block yanmenü %}
  <!-- fw-bold text-dark -->
  <a class="d-flex yükseklik3a pt-0 " href="/en/aboutus">ABOUT US</a>
  <a class="d-flex yükseklik3a " href="/en/program">PROGRAM</a>
  <a class="d-flex yükseklik3a  "  href="/en/projects">PROJECTS</a> 
  <a class="d-flex yükseklik3a  " href="/en/publishing">PUBLISHING</a>
  <a class="d-flex yükseklik3a" href="/en/home">HOUSE</a>
  <a class="d-flex yükseklik3a" href="/en/archive">ARCHIVE</a>
{% endblock yanmenü %}