{% extends 'english.html' %}
{% load static %}
{% block title %}Program{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10 mb-3 " id="k">



  {% for entry in program_anasayfa %}
  <div class="col-12  mb-3">
      <div class="row">
        
        <div class="col-lg-3 col-12  mt-4 p-0">
          <a  href="{% url 'program_detailll' entry.slug_en %}">
              <img class="  img-fluid " src="{{entry.foto_tr.url}}" alt="">
          </a>
      </div>
  
      <div class="col-lg-9 col-12 ps-lg-3 mt-4">
          <a class="" href="{% url 'program_detailll' entry.slug_en %}"><h5>{{entry.baslik_en}}</h5></a>
          <div class="mt-0 pt-0 ">{{entry.aciklama_en|linebreaks|urlize}} </div>
      </div>
  
    </div>
  </div>
  {% endfor %}







</div>
{% endblock orta_alan %}







{% block yanmenü %}
  <a class="d-flex yükseklik3a pt-0 " href="/en/aboutus">ABOUT US</a>
  <a class="d-flex yükseklik3a fw-bold text-dark  " href="/en/program">PROGRAM</a>
  <a class="d-flex yükseklik3a  "  href="/en/projects">PROJECTS</a> 
  <a class="d-flex yükseklik3a  " href="/en/publishing">PUBLISHING</a>
  <a class="d-flex yükseklik3a  " href="/en/home">HOUSE</a>
  <a class="d-flex yükseklik3a" href="/en/archive">ARCHIVE</a>
{% endblock yanmenü %}