{% extends 'english.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10  " id="k">

<div class="row">
    <div class="col-12  border-bottom p-0 text-center"><h3>{{program.baslik_en}}</h3> </div>
    
    <div class="col-12  mt-4 p-lg-0">{{program.aciklama_en|linebreaks|urlize}}</div>
  
<div class="col-12 mt-5 p-lg-0 mb-5">

    
    <div class="row row-cols-1 row-cols-lg-3 g-4">
    
      {% for entry in altkategori %}       
      <div class="col ">
        <div class="card h-100">
          <a  href="{% url 'proje_etkinlikkk' kategori=program.slug_en slug=entry.slug_en %}">
              <img class="border card-img-top img-fluid" src="{{entry.Ustkategori_foto.url}}" alt="">
          </a>
          
          
              <a href="{% url 'proje_etkinlikkk' kategori=program.slug_en slug=entry.slug_en %}">
            <h5 class="card-title">{{entry.bölüm_alanı.bölüm_en}} </h5>
            </a>
         
        </div>
      </div>
     {% endfor %}

  


    
  </div>
</div>



</div>
{% endblock orta_alan %}









{% block yanmenü %}
  <a class="d-flex yükseklik3a pt-0 " href="/en/aboutus">ABOUT US</a>
  <a class="d-flex yükseklik3a" href="/en/program">PROGRAM</a>
  <a class="d-flex yükseklik3a  fw-bold text-dark   "  href="/en/projects">PROJECTS</a> 
  <a class="d-flex yükseklik3a  " href="/en/publishing">PUBLISHING</a>
  <a class="d-flex yükseklik3a  " href="/en/home">HOUSE</a>
  <a class="d-flex yükseklik3a" href="/en/archive">ARCHIVE</a>
{% endblock yanmenü %}