{% extends 't_wejegeh.html' %}
{% load static %}
{% block title %}Arşiv{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock css_files %}
    
{% block js_alani %}
<script src="{% static 'js/mywejegeh.js' %}"></script>
{% endblock js_alani %}



{% block orta_alan %}


<div class="col-12 col-lg-10 container" id="k">
    <div class="col-12 text-center border-bottom mb-5">
        <h1 class="fw-bold">ARŞİV</h1>
    </div>
    <div class="col-12 border-bottom mb-2">
        <h5 class="fw-bold ">{{kategori|linebreaks|urlize}}</h5>
    </div>
    <div class="col-12 ">
        <div class="row row-cols-1 row-cols-lg-3 g-4  mb-5">

{% for entry in etkinlikler_sirali %} 

            {% if entry.proje_içerik %}
            <div class="col">
                <div class="card h-100 mt-3 p-0">
                    <a href="{% url 'proje_etkinlik' kategori=entry.Ust_kategori.slug_tr slug=entry.slug_tr %}">
                        <img class="border card-img-top img-fluid" src="{{entry.Ustkategori_foto.url}}" alt="">
                    </a>
                    
                    <a class="" href="{% url 'proje_etkinlik' kategori=entry.Ust_kategori.slug_tr slug=entry.slug_tr %}">
                            <h7 class="card-title p-2">{{entry.baslik_tr}} </h7>
                    </a>

                </div>
            </div>
            
            {% else %}

            <div class="col">
                <div class="card h-100 mt-3 ">
                    <a href="{% url 'program_etkinlik' kategori=entry.Ust_kategori.slug_tr slug=entry.slug_tr %}">
                        <img class="border card-img-top img-fluid" src="{{entry.Ustkategori_foto.url}}" alt="">
                    </a>
                
                    <a href="{% url 'program_etkinlik' kategori=entry.Ust_kategori.slug_tr slug=entry.slug_tr %}">
                        <h7 class="card-title p-2">{{entry.baslik_tr}}</h7>
                    </a>
                    
                </div>
            </div>
            


            
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock orta_alan %}





{% block yanmenü %}
<a class="d-flex yükseklik3a  pt-0 " href="/hakkımızda">HAKKIMIZDA</a>
<a class="d-flex yükseklik3a " href="/program">PROGRAM</a>
<a class="d-flex yükseklik3a  "  href="/projeler">PROJELER</a>
<a class="d-flex yükseklik3a  " href="/yayıncılık">YAYINCILIK</a>
<a class="d-flex yükseklik3a " href="/ev">EV</a>
<a class="d-flex yükseklik3a fw-bold text-dark" href="/arşiv">ARŞİV</a>
{% endblock yanmenü %}