{% extends 't_wejegeh.html' %}
{% load static %}
{% block title %}Program{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10  " id="k">
    <div class="row">



        <div class="d-none d-lg-block col-2 "></div>
        <div class="col-12 col-lg-10 ">
        
        <div class="col-12 border-bottom">
            
                <h3>{{program.baslik_tr}}</h3>
                <h3 class="fw-light">{{program.yazar_tr}}</h3>

                
            </div>
     
            
    </div>
   
    <div class="d-none d-lg-block col-2 mt-5"></div>
    <div class="col-12 col-lg-10 mt-2">{{program.metin_tr|linebreaks|urlize}}</div>
    <div class="d-none d-lg-block col-2 mt-5"></div>
    <div class="col-12 col-lg-10">
    <div class="col-12  pb-5  p-1 ">
            <div class="row d-flex justify-content-araund mt-4 ">




                <div class="row row-cols-1 row-cols-lg-2 g-0  ">
    
                    {% for entry in program.etkinlik_fotoları.all %}
                    <div class="col ">



                        <div class="card h-100">
                            <img class=" card-img-top img-fluid p-2 " src="{{ entry.foto.url }}" alt="">
                            
                                {% if entry.redirect_url %}
                                    <a href="{{ entry.redirect_url }}">
                                        <h5 class="card-title mt-2 me-2">göster</h5>
                                    </a>
                                {% endif %}
                                       
          
                        </div>
                    </div>
                {% endfor %}
                </div>














        
            

            </div>

    </div>

</div>




</div>
{% endblock orta_alan %}



{% block yanmenü %}
<a class="d-flex yükseklik3a  pt-0 " href="/hakkımızda">HAKKIMIZDA</a>
<a class="d-flex yükseklik3a  fw-bold text-dark " href="/program">PROGRAM</a>
<a class="d-flex yükseklik3a  "  href="/projeler">PROJELER</a>
<a class="d-flex yükseklik3a  " href="/yayıncılık">YAYINCILIK</a>
<a class="d-flex yükseklik3a" href="/ev">EV</a>
<a class="d-flex yükseklik3a " href="/arşiv">ARŞİV</a>
{% endblock yanmenü %}
