{% extends 'kurdi.html' %}
{% load static %}
{% block title %}Logo{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10  ">



    <div class="container  mb-4 border-bottom text-center"><h3>{% for entry in ayar %} {{entry.isbirlikleri_name_ku}} {% endfor %}</h3></div>
    <div class="container mb-5   text-center">
      <div class="row  ps-lg-5 pe-lg-5 ">
        {% for logo in logos %}

        <div class="image-container col-4 col-lg-2  mb-2 ">
          <a href="{{logo.redirect_url}}">
            <img class="img-fluid image-1 " src="{{ logo.logo.url }}" alt="Image 1">
            <img class=" img-fluid image-2 " src="{{ logo.colored_image.url }}" alt="Image 2" style="display: none;">
          </a> 
      </div>
        {% endfor %}
        
  
    
      </div>
    </div>







</div>
{% endblock orta_alan %}





{% block yanmenü %}
  <a class="d-flex yükseklik3a  pt-0 " href="/kr/derheqêmede">DER HEQÊ ME DE</a>
  <a class="d-flex yükseklik3a " href="/kr/program">PROGRAM</a>
  <a class="d-flex yükseklik3a  "  href="/kr/proje">PROJE</a> 
  <a class="d-flex yükseklik3a  " href="/kr/weşangerî">WEŞANGERÎ</a>
  <a class="d-flex yükseklik3a " href="/kr/mal">MAL</a>
  <a class="d-flex yükseklik3a " href="/kr/arşiv">ARŞÎV</a>
{% endblock yanmenü %}