{% extends 'kurdi.html' %}
{% load static %}
{% block title %}Proje{% endblock title %}

{% block orta_alan %}  
<div class="col-12 col-lg-10  " id="k">

<div class="row">
    <div class="col-12  border-bottom p-0 text-center"><h3>{{program.baslik_ku}}</h3> </div>
    
    <div class="col-12  mt-2 p-lg-0">{{program.aciklama_ku|linebreaks|urlize}}</div>
  
<div class="col-12 mt-2 p-lg-0 mb-5">

    
    <div class="row row-cols-1 row-cols-lg-3 g-4">
    
      {% for entry in altkategori %}       
      <div class="col ">
        <div class="card h-100">
          <a  href="{% url 'proje_etkinlikk' kategori=program.slug_ku slug=entry.slug_ku %}">
              <img class="border card-img-top img-fluid" src="{{entry.Ustkategori_foto.url}}" alt="">
          </a>
          
          
              <a href="{% url 'proje_etkinlikk' kategori=program.slug_ku slug=entry.slug_ku %}">
            <h5 class="card-title">{{entry.bölüm_alanı.bölüm_ku}}</h5>
            </a>
          
        </div>
      </div>
     {% endfor %}

  


    
  </div>
</div>



</div>
{% endblock orta_alan %}









{% block yanmenü %}
  <a class="d-flex yükseklik3a  pt-0 " href="/kr/derheqêmede">DER HEQÊ ME DE</a>
  <a class="d-flex yükseklik3a " href="/kr/program">PROGRAM</a>
  <a class="d-flex yükseklik3a fw-bold text-dark  "  href="/kr/proje">PROJE</a> 
  <a class="d-flex yükseklik3a  " href="/kr/weşangerî">WEŞANGERÎ</a>
  <a class="d-flex yükseklik3a " href="/kr/mal">MAL</a>
  <a class="d-flex yükseklik3a" href="/kr/arşiv">ARŞÎV</a>
{% endblock yanmenü %}